<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tilon.ojt_back.dao.homepage.PostMapper">

    <!-- PR 조회 --> 

    <select id="getInsightRow"
            resultType="com.tilon.ojt_back.domain.homepage.PostResponseDTO">
        SELECT post_id, title, content, category, admin_id, created_at, updated_at, status, link, image_url
        FROM post
        WHERE category = 'INSIGHT'
        ORDER BY created_at DESC
        LIMIT 3;
    </select>    
</mapper>