<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tilon.ojt_back.dao.manage.PostMapper">

    <!-- post 조회 --> 
    <select id="getPostRow"
            parameterType="com.tilon.ojt_back.domain.manage.PostCategory"
            resultType="com.tilon.ojt_back.domain.manage.PostResponseDTO">
        SELECT post_id, title, content, category, admin_id, created_at, updated_at, status, fix, link, image_url
        FROM post
        WHERE category = #{category}
        ORDER BY created_at DESC
        LIMIT 3;
    </select>

    <!-- post 작성 -->
    <insert id="createPostRow"
            parameterType="com.tilon.ojt_back.domain.manage.PostRequestDTO">
        INSERT INTO post (title, content, category, admin_id, status, fix, link, image_url)
        VALUES (#{title}, #{content}, #{category}, #{admin_id}, #{status}, #{fix}, #{link}, #{image_url});
    </insert>

    <!-- post 수정 -->
    <update id="updatePostRow"
            parameterType="com.tilon.ojt_back.domain.manage.PostRequestDTO">
        UPDATE post
        SET title = #{title}, content = #{content}, status = #{status}, fix = #{fix}, link = #{link}, image_url = #{image_url}
        WHERE post_id = #{post_id};
    </update>

    <!-- post status 수정 --> 
    <update id="updatePostStatusRow"
            parameterType="java.util.Map">
        UPDATE post
        SET status = #{status}
        WHERE post_id = #{post_id};
    </update>

    <!-- post fix 조회 --> 
    <select id="getPostFixRow"
            parameterType="int"
            resultType="com.tilon.ojt_back.domain.manage.PostFix">
        SELECT fix
        FROM post
        WHERE post_id = #{post_id};
    </select>

    <!-- post fix 수정 --> 
    <update id="updatePostFixRow"
            parameterType="java.util.Map">
        UPDATE post
        SET fix = #{fix}
        WHERE post_id = #{post_id};
    </update>

    <!-- post status 조회 --> 
    <select id="getPostStatusRow"
            parameterType="int"
            resultType="com.tilon.ojt_back.domain.manage.PostStatus">
        SELECT status
        FROM post
        WHERE post_id = #{post_id};
    </select>

    <!-- post 삭제 --> 
    <delete id="deletePostRow"
            parameterType="int">
        DELETE FROM post
        WHERE post_id = #{post_id};
    </delete>
</mapper>